<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Panda0218的博客</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="app">
		<h1>《家规》</h1>
	<ul id="list">
		<li v-for="(li,index) in list">
			{{li.content}} 
			<button class="delBtn" v-on:click="delOne(li.content)" >删除</button>
		</li>
	</ul>
	<label>补充：</label>
	<input type="text" name="" v-model="addContent">
	<button class="addBtn" v-on:click="addOne">添加</button>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>