body {
  width: 600px;
  margin: 0 auto;
  background-color: #EDEDED;
  padding: 0 20px 20px 20px;
  /* border: 5px solid black; */
}
*{
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	margin-bottom: 30px ;
}
ul{
	
}
li{
	position: relative;
	list-style-type: symbols;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
	background-color: #EDE387;
	margin-bottom: 15px;
	padding: 5px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
li:hover{
	background-color: #DE8100;
}
input{
	display: inline-block;
	width: 460px;
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
}
.addBtn{
	margin-left: 21px;
	display: inline-block;
	background-color: #DE8100;
	width: 50px;
height: 26px;
border-radius: 5px;
outline: none;
border: none;
font-size: 16px;
line-height: 26px;
}
.delBtn{
	position: absolute;
top: 5px;
right: -68px;
display: inline-block;
width: 50px;
height: 24px;
border-radius: 5px;
outline: none;
border: none;
font-size: 14px;
line-height: 24px;
background-color: #DE8100;
}